.parent{
    display: flex;
    width:calc(100% - 48px);
    margin:auto;
    margin-top:12px;
    gap:12px;
}
.left{
    width:200px;
}
.right{
    background-color: rgb(19, 19, 19);
    padding:10px 20px;
    padding-top:4px;
    width:calc(100% - 200px);
    border-radius: 4px;
}