.grand_parent{
    padding-top:80px;
    width:96%;
    margin:auto;
}
.parent{
    display: flex;
    width:calc(100% - 48px);
    margin:auto;
    margin-top:12px;
    gap:12px;
}
.left{
    width:200px;
}
.right{
    background-color: var(--color-primary_background);
    padding:10px 30px;
    width:calc(100% - 200px);
    border-radius: 6px;
    box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.2);
}