.grand_parent{
    padding-top:80px;
    width:96%;
    margin:auto;
}
.parent{
    display: flex;
    width:calc(100% - 48px);
    margin:auto;
    margin-top:12px;
    gap:12px;
}
.left{
    width:200px;
}
.right{
    background-color: var(--color-primary_background);
    padding:10px 20px;
    padding-top:4px;
    width:calc(100% - 200px);
    border-radius: 4px;
}