.container{
    background-color: rgb(20, 20, 20);
    padding:10px 0;
    height:auto;
    width:90%;
    margin:auto;
    margin-top:40px;
}

.seriesContainer{
    display: flex;
    flex-wrap: wrap;
}

.series_card{
    width:200px;
    height:200px;
    margin:10px;
    padding:10px;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    color:white;
    text-decoration: none;
}

.series_card_img{
    width:90px;
    height:90px;
}