.score_card{
    width:50%;
    background-color: var(--color-secondary_background);
    padding:20px;
    color:white;
    border-radius: 4px;
}
.team_name{
    font-size:22px;
    color:rgb(255, 174, 0);
    display: flex;
    gap:10px;
    align-items: center;
}

.team_logo{
    width:50px;
    height:50px;
}

.over{
    color:rgba(229, 255, 0, 0.692)
}

.player_list{
    background-color: var(--color-tirtary_background);
    color:rgb(226, 226, 226);
    font-size:14px;
    margin-top: 10px;
    border-radius: 4px;
}

.player_list_row,.player_list_row_striker{
    padding:10px;
    display: flex;
    text-align: center;
}

.player_list_row >*,.player_list_row_striker >*{
    width:100%;
}
.player_list_row >:first-child,.player_list_row_striker>:first-child{
    width:100%;
}
.player_list_row_striker{
    background-color: var(--color-quaternary_background);
    color:rgb(207, 205, 205);
}
.run_over{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    font-size:18px;
    color:rgb(185, 192, 160);
}

.run{
    font-size:22px;
}

.balls{
    display: flex;
    gap:4px;
}

.balls >*{
    width:12px;
    height:12px;
    padding:4px;
    font-size:10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}