.list{
    width:50%;   
}
.item{
    display: flex;
    background-color: rgb(53, 53, 53);
    margin:1px 0;
    padding:10px;
    cursor:pointer;
    text-decoration: none;
    color:rgb(223, 223, 223)
}
.item  >*{
    width:300px;
}