.label{
    font-size:16px;
    color:rgb(199, 199, 199);
}
.input,.normal_input{
    width:300px;
    padding:14px;
    color:rgb(218, 218, 218);
    background-color: rgb(34, 34, 34);
    outline: none;
    border:1px solid rgba(255, 255, 255, 0);
    border-radius: 4px;   
    margin-top:10px;
    font-size:16px;
}
.normal_input{
    width:calc(300px - 30px)
}
.form{
    padding:10px;
    display: flex;
    align-items:center;
    gap:20px;
    flex-wrap: wrap;
}
.submit{
    margin-top:10px;
}
.error_text{
    color:rgb(252, 106, 106);
    font-size:14px;
}