.label{
    font-size:14px;
    color:rgb(175, 175, 175);
}
.input{
    width:200px;
    padding:6px;
    color:rgb(171, 171, 171);
    outline: none;
    border:1px solid gray;
    border-radius: 4px;
    
}
.form{
    padding:10px;
    display: flex;
    align-items: flex-end;
    gap:10px;
    flex-wrap: wrap;
}
.submit{
    border:0;
    padding:10px;
    border-bottom:4px;
    margin-left:10px;
    font-weight: 400;
    background-color: rgb(0, 164, 25);
    color:rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
}