.match_card{
    width:280px;
    height: 100%;
    height:fit-content;
    margin:10px;
    padding:10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--color-primary_background);
    text-decoration: none;
    cursor:pointer;
    border:1px solid rgba(47, 138, 47, 0.185);
    transition: background-color 0.2s;
}

.match_card:hover{
    background-color: var(--color-secondary_background);
}

.match_card >*{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    margin:10px;
}

.match_card_team_name{
    font-size:16px;
    color:rgb(235, 235, 235);
    display: flex;
    align-items: center;
    gap:6px;
}
.match_card_team_score{
    color: var(--color-secondary_text);
}

.header {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.705);
}
.match_status{
    color:rgb(65, 212, 65);
}