.balls{
    display: flex;
    gap:4px;
}
.balls >* {
    background-color: rgb(250, 219, 219);
    padding:10px 12px;
    font-size: 10px;
    border-radius: 50%;
}
.scoreCardBox{
    display: flex;
    gap:10px;
    margin-top: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.select{
    font-size: 14px;
    padding:6px;
    border-radius: 4px;
    margin:10px;
    border:0;
    outline: none;
}