.scoreCardBox{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.select{
    font-size: 14px;
    padding:6px;
    border-radius: 4px;
    margin:10px;
    border:0;
    outline: none;
}