.squads{
    background-color: rgb(252, 229, 229);
    display: flex;
    width:100%;
    padding:10px;
    border-radius:4px;
    gap:10px;
}
.squads >*{
    width:100%;
}
.button{
    background-color: green;
    border:0;
    padding:10px;
    margin:10px;
    border-radius: 4px;
    color:white;
    cursor: pointer;
}