.flex{
    display: flex;
    padding:20px;
    justify-content: space-between;
}
@keyframes example {
    from {color:rgb(110, 110, 110);}
    to {color:  rgb(226, 226, 226);}
  }
.welcome_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:inherit;
    font-size:28px;
    color:rgb(202, 202, 202);
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
}

  
.center{
    margin-top:30px;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4{
    color:rgb(161, 161, 161);
}