.flex{
    display: flex;
    padding:20px;
    justify-content: space-between;
    margin-top: 50px;
}
@keyframes example {
    from {color:rgb(110, 110, 110);}
    to {color:  rgb(226, 226, 226);}
  }
.welcome_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:400px;
    font-size:28px;
    color:rgb(226, 226, 226);
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
}

  
.center{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}