.match_list_page{
    width:100%;
    margin:auto;   
}
.item{
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    margin:1px 0;
    padding:12px;
    cursor:pointer;
    text-decoration: none;
    color:rgb(214, 214, 214);
    font-size:14px;
}

.item  >*{
    width:300px;
}

.flex_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    font-size: 20px;
    color:rgb(233, 233, 233);
}