.parent{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary_background);
    border-radius: 4px;
}
.selected_item,.not_selected_item{
    color: rgb(231, 231, 231);
    padding:20px;
    border:0;
    font-size:14px;
    text-decoration: none;
    text-align: center;
}
.selected_item{
    font-weight: 600;
    color: rgb(231, 231, 231);
    background-color: var(--color-secondary_background);
    border-radius: 4px;
}