.container{
    width:100%;   
    margin: auto;
    background-color: var(--color-primary_background);
}
.img{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.flex_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 12px;
    color:rgb(233, 233, 233);
}
.heading{
    font-size:16px;
}