:root{
  --color-background:#000;
  --color-primary_background:rgb(19, 19, 19);
  --color-secondary_background:rgb(31, 31, 31);
  --color-tirtary_background:rgb(43, 43, 43);
  --color-quaternary_background:rgb(53, 53, 53);
  --color-primary_text:white;
  --color-secondary_text:rgb(218, 218, 218);
}