.list{
    width:100%;   
    margin: auto;
    padding:10px 0;
}
.img{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.flex_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    font-size: 20px;
    color:rgb(233, 233, 233);
    padding-bottom: 20px;
}